@model FICTFeed.MVC.Models.PageViews.News.NewsItemPageView

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <div class="posting-date">@Model.NewsItem.PostingDate</div>
    <h2>@Model.NewsItem.Title</h2>
    <p>@Model.NewsItem.Description</p>
</div>
