/*
*{outline: 1px solid black;}*/
/* Set padding to keep content from hitting the edges */
.body-content {
    height: 100%;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.hidden{ display: none;}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

h1, h2, h3{
    padding-top: 20px;
    margin-top: 0;
}

.inline-block{display: inline-block;}

.default-input-width { width: 280px; }

.custom-card{
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #d4d4d4;
}

body{margin: 0}

#content{
        max-width: 1300px;
        min-width: 460px;
        height: 100%;
        margin: 0 auto;
}
nav{
        z-index: 1000;
        position: fixed;
}
header a{
   color: black;
}
#navigation{
    padding: 0 10px;
    height: 100%;
    max-width: 724px;
    display: inline;
    position:relative;
    margin-left: 70px;
}
#navigation li{
    margin: 0 5px;
}
#logo{
    top: 0;
    left: 0;
    position: absolute;
    padding-left: 5px;
    height: 100%;
    width: 64px;
    display: inline-block;
    font-size: 3rem;
    padding: .25em;
}
#main{
        padding-top: 50px;
        position: relative;
        text-align: left;
}
.inline-list{
        list-style-type: none;
        margin: 0;
        padding: 0;
}
.inline-list li {
        display: inline-block;
}
#body {
    padding: 10px;
    width: calc(100% - 350px);
    height: auto;
    margin-left: 50px;
}
#articles li {
        margin-bottom: 1em;
        display: inline-block;
}
article{
        min-height: 250px;
        height: auto;
        display: inline-block;
        padding: 1em;
}
article .image{
        width: 150px;
        height: 150px;
        float: left;
        margin-right: 1em;
}
article .description{
        text-align: justify;
}
#jumpup{
    padding-left: 0.4em;
    padding-top: calc(64px + 1em);
    color: white;
    background: #ff3939;
    z-index: 500;
    top: 0;
    height: 100%;
    width: 50px;
    float: left;
    position: fixed;
    opacity: 0.05;
}
#jumpup:hover{
    opacity: 1;
}
#sidebar{
  z-index: 800;
  float: right;
  width: 300px;
  position: relative;
  top: 50px;
}
#sidebar div:last-child{
  margin: 0;
}
#navigation-button{
    margin: 0;
    float: right;
    width: 64px;
    height: 100%;
    display: none;
    font-size: 3rem;
    padding: .25em;
    cursor: pointer;
}
#dropdown-navigation{
    min-width: 100px;
    padding: 1em;
    position:absolute;
    right:0;
    top: 50px;
}
#dropdown-navigation ul{
   list-style: none;
   margin: 0;
   padding: 0;
}
#dropdown-navigation ul li{
   margin: 10px 5px;
}
#dropdown-navigation ul li a{
   color: black;
}
#add-news{
    text-align: center;
    height: 50px;
    width: 100%;
}
.news-creation input[type="text"]{
    width: 100%;
    max-width: 100%;
}
.news-creation textarea{
    width: 100%;
    height: 150pt;
    max-width: 100%;
}
.news-list{
    padding: 10px;
    margin: 0;
    list-style: none;
}
.news-list li{
    margin-bottom: 10px;
}
.news-list li div{
    padding: 0.5em;
}
.posting-date{
    float: right;
    margin: 15px 10px 5px 5px;
}
.news-item .posting-date{
    float: right;
    margin: initial;
}
.news-list li h3{
    padding-top: 15px;
}
.news-list li .read-more{
    color: #151515;
}
.news-item{
    padding: 15px;
}
.news-item p, .news-list li p{
    text-align: justify;
}
.spoiler-body {
    display:none;
    margin-left: 2em;
}
.spoiler-link {cursor:pointer;}
nav{
    height: 64px;
}
@media (max-width: 1024px) {
  #sidebar{
    display: none;
  }
  article {
    width: calc(100% - 2em);
  }
  #body {
      width: calc(100% - 50px);
    }
}
@media (max-width: 764px){
    #navigation *:not(#logo){
        display: none;
    }
    #navigation-button{
        display: inline-block;
    }
}