/*MATERIAL DESIGN PALLETE*/
@font-face {
    font-family: Icons;
    src: url(../fonts/glyphicons-halflings-regular.ttf);
}
.primary a{
  color: white;
}
.primary{
  color: #FFFFFF;
  background: #03A9F4;
}
.primary.dark {
    background: #0288D1;
}
.primary.light {
    background: #B3E5FC;
}
.accent {
    background: #607D8B;
}
.primary-text {
    color: #212121;
}
.secondary-text {
    color: #727272;
}
.border-divider {
    border-color: #B6B6B6;
}
.btn-material{
    border-radius: 0;
}
.btn-material:active{
    box-shadow: none;
}
/*raised btn*/
.btn-raised{
    background: #03A9F4;
    color: white;
}
.btn-raised:hover, .btn-raised:focus {
    background: #2db5f2;
    color: white;
}
.btn-raised:active {
    background: #03A9F4;
    color: white;
}
/*flat btn*/
.btn-flat{
    background: transparent;
    color: #0288D1;
}
.primary .btn-flat, .primary .btn-flat:hover, .primary .btn-flat:hover, .primary .btn-flat:active {
    color: white;
}
/**/
/* Set padding to keep content from hitting the edges */
.body-content {
    height: 100%;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

h1, h2, h3{
    padding-top: 20px;
    margin-top: 0;
}

.inline-block{display: inline-block;}

body{margin: 0}

#content{
        max-width: 1300px;
        min-width: 460px;
        height: 100%;
        margin: 0 auto;
}
header{
        z-index: 1000;
        position: fixed;
        width: 100%;
        max-width: 1300px;
        height: 50px;
        min-width: 520px;
}
header a{
   color: black;
}
#navigation{
    padding: 0 10px;
    height: 100%;
    max-width: 724px;
    display: inline;
    position:relative;
}
#logo{
        padding-left: 5px;
        height: 100%;
        width: 160px;
        display: inline-block;
        padding-top: 0.5em;
}
#search{
        height: 100%;
        width: 300px;
        float: right;
        text-align: center;
        padding-top: 0.5em;
}
#search form{
    max-width: 300px;
}
#search .input-search{
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    color: #B3E5FC;
    font-size: 1em;
    line-height: 200%;
}
#main{
        padding-top: 50px;
        position: relative;
        text-align: left;
}
.inline-list{
        list-style-type: none;
        margin: 0;
        padding: 0;
}
.inline-list li {
        display: inline-block;
}
#body {
    padding: 10px;
    width: calc(100% - 350px);
    height: auto;
    margin-left: 50px;
}
#articles li {
        margin-bottom: 1em;
        display: inline-block;
}
article{
        min-height: 250px;
        height: auto;
        display: inline-block;
        padding: 1em;
}
article .image{
        width: 150px;
        height: 150px;
        float: left;
        margin-right: 1em;
}
article .description{
        text-align: justify;
}
#jumpup{
    height: 100%;
    width: 50px;
    float: left;
    position: fixed;
}
#sidebar{
  z-index: 800;
  float: right;
  width: 300px;
  position: relative;
  top: 50px;
}
#sidebar div{
  height: 200px;
}
#sidebar div:last-child{
  margin: 0;
}
#navigation-button{
    margin: 0;
    float: right;
    width: 50px;
    height:100%;
    display: none;
}
#navigation-button::after {
    content: "menu";
}
#dropdown-navigation{
    min-width: 100px;
    padding: 20px;
    position:absolute;
    right:0;
    top: 50px;
}
#dropdown-navigation ul{
   list-style: none;
   margin: 0;
   padding: 0;
}
#dropdown-navigation ul li{
   margin: 10px 5px;
}
#add-news{
    text-align: center;
    height: 50px;
    padding-top: 1em;
    width: 100%;
}
.news-creation input[type="text"]{
    width: 100%;
    max-width: 100%;
}
.news-creation textarea{
    width: 100%;
    height: 150pt;
    max-width: 100%;
}
.news-list{
    padding: 10px;
    margin: 0;
    list-style: none;
}
.news-list li{
    padding: 10px;
    margin-bottom: 10px;
}
.posting-date{
    float: right;
    margin: 15px 10px 5px 5px;
}
.news-item .posting-date{
    float: right;
    margin: initial;
}
.news-list li h3{
    padding-top: 15px;
}
.news-list li .read-more{
    color: #151515;
}
.news-item{
    padding: 15px;
}
.news-item p, .news-list li p{
    text-align: justify;
}
@media (max-width: 1024px) {
  #sidebar{
    display: none;
  }
  article {
    width: calc(100% - 2em);
  }
  #body {
      width: calc(100% - 50px);
    }
}
@media (max-width: 764px){
    #navigation *:not(#logo){
        display: none;
    }
    #search{
        width: 300px;
    }
    #navigation-button{
        display: inline-block;
    }
}