@model FICTFeed.MVC.Models.PageViews.BasePageView
@if (Model.NewestNews.Count > 0)
{
    <h3>@Html.ResourceString("NewestNews")</h3>
    <ul>
        @foreach (var item in Model.NewestNews)
        {
            <li><a href="@Url.RouteUrl("NewsItem")?id=@item.Value.ToString()">@item.Key</a></li>
        }
    </ul>
}
