@model FICTFeed.Bussines.Models.User
@{
    var group = FICTFeed.DependecyResolver.Resolver.GetInstance<FICTFeed.Framework.Groups.IGroupsManager>().GetById(Model.GroupId.ToString());
    var schedule = FICTFeed.Framework.Extensions.ObjectExtensions.DeserializeAs<FICTFeed.Framework.Shedule.Schedule>(group.Schedule).GetScheduleForToday();
}           
<h3>Lessons</h3>
@for (int j = 0; j < 8; j++)
{
    if(string.IsNullOrWhiteSpace(schedule.Lessons[j].Name))
    {
        continue;
    }
    <div class="lesson">
        @Html.DisplayFor(m => schedule.Lessons[j].Name), 
        <b>@Html.DisplayFor(m => schedule.Lessons[j].Room)</b> :
        @Html.DisplayFor(m => schedule.Lessons[j].Start)
    </div>
}
<a href="@(Url.RouteUrl("GetSchedulePDF") + "?id=" + group.Id.ToString())">Get full schedule</a>