@model FICTFeed.MVC.Models.PageViews.News.NewsListPageView
@{
    ViewBag.Title = Html.ResourceString("Home");
}
<div class="home-content">
    @if (Model.UserData.IsAuthorized)
    {
        <div class="controls">
            <div id="filters" class="news">
                @Html.ResourceString("NewsFilters")
                @Html.DropDownList("filter", Model.Groups)
            </div>
            @if (Model.UserData.IsAuthorized && Model.UserData.CurrentUser != null)
            {
                if (Model.UserData.CurrentUser.Role != FICTFeed.Bussines.AdditionalData.Roles.User)
                {
                <a href="@Url.RouteUrl("NewsCreate")">
                    <div id="add-news" class="btn">@Html.ResourceString("AddNewsItem")</div>
                </a>
                }
            }
        </div>
        
    }
    <div class="news-wraper">
        @{
            Html.RenderPartial("NewsList", Model);
        }
    </div>
    
</div>
