@model FICTFeed.MVC.Models.PageViews.BasePageView
@{
    ViewBag.Title = "Home";
}
<div class="home-content">
    @if(Model.UserData.IsAuthorized)
    {
        <div>You are logined with id @Model.UserData.CurrentUser.Id</div>
    }
    <div class="tagline">you will love ZSTU or you will die</div>
</div>
@Styles.Render("~/Content/Home.css")