@model FICTFeed.MVC.Models.PageViews.News.NewsListPageView
@{
    ViewBag.Title = Html.ResourceString("Home");
    var groups = new List<SelectListItem>();
    if (Model.UserData.IsAuthorized)
    {
        var manager = FICTFeed.DependecyResolver.Resolver.GetInstance<FICTFeed.Framework.Groups.IGroupsManager>();
        var usergroup = (manager.GetById(Model.UserData.CurrentUser.GroupId.ToString()).Name);

        groups.Add(new SelectListItem() { Text = "All", Value = "All", Selected = true });

        if (Model.UserData.CurrentUser.Role == FICTFeed.Bussines.AdditionalData.Roles.User || Model.UserData.CurrentUser.Role == FICTFeed.Bussines.AdditionalData.Roles.Praepostor)
        {
            groups.Add(new SelectListItem() { Text = usergroup, Value = usergroup });
        }
        else
        {
            foreach (var item in manager.GetList())
            {
                groups.Add(new SelectListItem() { Text = item.Name, Value = item.Name });
            }
        }

    }
}
<div class="home-content">
    @if (Model.UserData.IsAuthorized)
    {
        <div class="controls">
            <div id="filters" class="news">
                Show mews for:
                @Html.DropDownList("filter", groups)
            </div>
            @if (Model.UserData.IsAuthorized && Model.UserData.CurrentUser != null)
            {
                if (Model.UserData.CurrentUser.Role != FICTFeed.Bussines.AdditionalData.Roles.User)
                {
                <a href="@Url.RouteUrl("NewsCreate")">
                    <div id="add-news" class="btn">@Html.ResourceString("AddNewsItem")</div>
                </a>
                }
            }
        </div>
        
    }
    <div class="news-wraper">
        @{
            Html.RenderPartial("NewsList", Model);
        }
    </div>
    
</div>
