@model FICTFeed.MVC.Models.PageViews.News.NewsListPageView
@{
    ViewBag.Title = "Home";
}
<div class="home-content">

    @if (Model.UserData.IsAuthorized)
    {
        if (Model.UserData.CurrentUser.Role == FICTFeed.Bussines.AdditionalData.Roles.Admin)
        {
            <a href="@Url.RouteUrl("NewsCreate")">
                <div id="add-news" class="btn btn-raised">Add news</div>
            </a>
        }
    }
    <ul>
        @foreach (var item in Model.News)
        {
            <li>
                <h3>@item.Title</h3>
                <div>@item.ShortDescription</div>
                <div>@item.PostingDate</div>
            </li>
        }
    </ul>
</div>
