@model IList<FICTFeed.MVC.Models.PageViews.User.EditUserPageView>
@{
    ViewBag.Title = "GetUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Пользователи</h2>

@if (Model != null)
{
    foreach (var item in Model)
    {
        <div>
            @Html.DisplayFor(m => item.User.Mail)
            @Html.DisplayFor(m => item.User.Name)
            <div>
                @Html.EditorFor(m => item.User.Role)
            </div>
        </div>
        @Html.RouteLink("Edit", "Edit", new { id = item.User.Id })
    }
}

@*TODO: IN MATERIALIZE.CSS 
    SELECT { DISPLAY: NONE } 
    WTF!!!!*@
<style>
    select {
        display: inline-block;
    }
</style>
