
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@*Сделать списком
    в "группы" добавить: 1) все группы (с редактированием имени группы, удалением группы)
                         2) добавить группу*@
<ul>
    <li>@Html.RouteLink("Все пользователи", "GetUsers")</li>
    <li>@Html.RouteLink("Все группы", "GetGroups")</li>
    <li>@Html.RouteLink("Добавить группу", "CreateGroup")</li>
</ul>


