
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Переделать блядь нахуй эту пейджу сука.-->
<ul>
    <li>@Html.RouteLink("Все пользователи", "GetUsers")</li>
    <li>@Html.RouteLink("Все группы", "GetGroups")</li>
</ul>


